<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Login</title>
</head>
<body>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="d-flex flex-row align-items-center">
                    <h4 style="font-family: Poppins,serif; text-align: center">Login to
                        continue</h4>
                </div>
                <!--horizontal line-->
                <div class="divider d-flex align-items-center my-4">
                </div>
                <form
                        method="post"
                        role="form"
                        class="form-horizontal"
                        th:action="@{/login}"
                >
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid Email or Password!</div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-success">You have been logged out!</div>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="username">Email address</label>
                        <input type="email" id="username" name="username" class="form-control form-control-lg"
                               placeholder="Enter a valid email address"/>

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                               placeholder="Enter password"/>

                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a th:href="@{/registration}"
                                                                                          class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.js"></script>

</body>
</html>